* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1980px;
    height: 700px;
}

images- TedLasso{
    width: 300px;
    height: 100px;
    background-image: url(images/TedLasso.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.Pie {
    margin-top: auto;
    margin-bottom: auto;   
    margin-left: auto;
    margin-right: 100px auto;
    width: 1250px;
    height: 300px;
    text-align: center;
}

.Pie2 {
    margin-top: auto;
    margin-bottom: auto;   
    margin-left: auto;
    margin-right: 100px auto;
    width: 1190px;
    height: 300px;
    text-align: center;
}
