* {
    margin: 50;
    padding: 3;
}

.wrapper {
    margin: 0 auto;
    width: 5000px;
}

images-pic4{
    width: 500px;
    height: 500px;
    background-image: url(images/pic4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}